body{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("concrete_seamless: png;");
    background-repeat: repeat;
}
.header{
    float: right;
}