body{
    background-color: rgb(100, 120, 228);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
.p{
    margin-bottom: 20px;
}
nav{
    float: right;
  margin-top: 25px;
}