body{
    background-color: rgb(182, 200, 201);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 34px;
}
.container{
    width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
.p{
    margin-bottom: 20px;
}
nav{
    float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;

}