body{
  background-color: rgb(182, 200, 201);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;

}